<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="internalClock" value="true" />
      <add key="networkClock" value="false" />
      <add key="smartCal" value="false" />
      <add key="col1" value="false" />
      <add key="col2" value="false" />
      <add key="col3" value="true" />
      <add key="safemd" value="false" />
      <add key="cldmd" value="false" />
      <add key="google" value="true" />
      <add key="yahoo" value="false" />
      <add key="bing" value="false" />
      <add key="ddg" value="false" />
    </appSettings>
</configuration>